@import 'common/variable.scss';
@import 'common/mixins.scss';
$height : 42;
$unit: px;
.#{$--css-prefix}{
  &picker{
    @include scroller;
    touch-action: pan-y;
    flex: 1;
    @include scroller2;
    &.is-touch{
      &::-webkit-scrollbar{
        display:none;
      }
    }
    &--wrapper{
      position:relative;
      background:#fff;
      text-align: center;
      overflow:hidden;
    }
    &--header{
      @include flexbox;
      align-items: center;
      position: relative;
      z-index: 10;
    }
    &--placeholder{
      text-align: center;
      flex:auto;
    }
    &--cancel,&--confirm{
      @include button;
      height:$--box-size-height-default;
      padding:0 0.4rem;
      color:$--color-assist;
    }
    &--confirm{
      color:$--color-primary;
    }
    &--body{
      position: relative;
      overflow: hidden;
    }
    &--columns{
      @include flexbox;
    }
    &--item{
      @include lineClamp;
      padding: 0px 0.15rem;
    }
    &.is-active{
      // @include var-color();
    }
    &--indicator{
      &-top{
        @include divider;
        position:absolute;
        content:'';
        height:1px;
        width:100%;
        left:0;
      }
      &-bottom{
        @include divider;
        position:absolute;
        content:'';
        height:1px;
        width:100%;
        left:0;
      }
    }
    &--placeholder{
      opacity:0.8;
    }
  }
}