@mixin disabled{
  &[disabled]{
    opacity:0.5;
    pointer-events: none;
    @content;
  }
}
@mixin active{
  &:active{
    background-color:rgba(0,0,0,0.1);
  }
}
@mixin button{
  border:0;
  outline:none;
  background-color:transparent;
  -webkit-appearance: none;
  appearance: none;
  text-align:center;
  user-select:none;
  cursor: default;
  box-shadow: none;
  font-size: inherit;
}
@mixin input{
  border:0;
  outline:none;
  background-color:transparent;
  user-select:none;
  text-align:inherit;
  box-sizing:border-box;
  height:2.6rem;
  width:100%;
}
@mixin _1px($color:$border-color-base) {
  border-bottom:none;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),color-stop(50%,transparent),color-stop(100%,$color));
  background-image: -webkit-linear-gradient(top,transparent 50%,$color 50%,$color 100%);
  background-image: linear-gradient(to bottom,transparent 50%,$color 50%,$color 100%);
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}
@mixin divider ($color:$border-color-base){
  border-bottom:1px solid $color;
  content:'';
  display:block;
  height:1px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    @include _1px($color);
  }
  @media screen and (min-resolution: 2dppx) {
    @include _1px($color);
  }
}
@mixin _1px-vertical($color:$border-color-base) {
  background-color:transparent;
  background-image: -webkit-linear-gradient(left,$color 50%,transparent 50%,transparent 100%);
  background-image: linear-gradient(to right,$color 50%,transparent 50%,transparent 100%);
  -webkit-background-size: 1px 100%;
  background-size: 1px 100%;
  background-repeat: no-repeat;
}
@mixin divider-vertical($color:$border-color-base){
  content:'';
  display:block;
  width:1px;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  background-color:$border-color-base;
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    @include _1px-vertical($color);
  }
  @media screen and (min-resolution: 2dppx) {
    @include _1px-vertical($color);
  }
}
@mixin arrow($rotate:45deg){
  content:'';
  display:inline-block;
  width:8px;
  position:absolute;
  top:50%;
  right:4px;
  height:8px;
  margin-top:-5px;
  border-top:1px solid $border-color-base;
  border-right:1px solid $border-color-base;
  transform:rotate($rotate);
}
@mixin _round-border($border-color : $border-color-base,$border-radius : $border-radius-base,$resolution:1) {
  @media screen and (if($resolution == 6,-webkit-min-device-pixel-ratio,-webkit-device-pixel-ratio) : $resolution) {
    border:1px solid darken($border-color,$resolution*3%);
    width:$resolution*100%;
    height:$resolution*100%;
    transform:scale(1/$resolution);
    border-radius:$resolution*$border-radius;
    left:if($resolution%2==1,-100%,-50%);
    top:if($resolution%2==1,-100%,-50%);
  }
  @media screen and (if($resolution == 6,min-resolution,resolution): $resolution*1dppx) {
    border:1px solid darken($border-color,$resolution*3%);
    width:$resolution*100%;
    height:$resolution*100%;
    transform:scale(1/$resolution);
    border-radius:$resolution*$border-radius;
    left:if($resolution%2==1,-100%,-50%);
    top:if($resolution%2==1,-100%,-50%);
  }
}
@mixin round-border($border-color : $border-color-base,$border-radius : $border-radius-base) {
  position:relative;
  &:before{
    border:1px solid $border-color;
    box-sizing:border-box;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    content:'';
    border-radius:$border-radius;
    @include _round-border($border-color,$border-radius,2);
    @include _round-border($border-color,$border-radius,3);
    @include _round-border($border-color,$border-radius,4);
    @include _round-border($border-color,$border-radius,5);
    @include _round-border($border-color,$border-radius,6);
  }
}
