// Prefix
$css-prefix             : v-;
$css-prefix-iconfont    : v-icon;

// color
$color-primary          : #3399ff;
$color-error            : #ff5500;
$color-sub              : #999;
$color-warning          : #ff9900;
$color-star             : #f5a623;

$item-padding           : 0.3rem 0;

// Border color
$border-color-base      : #d7dde4;  // outside
$border-color-split     : #e3e8ee;  // inside
$border-radius-base     : 6px;

// Animation
$animation-time         : .3s;
$transition-time        : .2s;
$ease-in-out            : ease-in-out;
