@import './style/src/theme/index.scss';
body{
  font-size:0.28rem;
  -webkit-tap-highlight-color:transparent;
  tap-highlight-color:transparent;
}
.scrollbox{
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
  overflow-scrolling: touch;
}

