@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &accordion{
    margin:0.16rem 0;
    background:#fff;
    &--item{
      position:relative;
      &-hd{
        font-size:$font-size-large;
        line-height:0.92rem;
        padding:0 0.16rem;
        position:relative;
        @include divider;
        background-position:bottom;
        .vx-arrow{
          position:absolute;
          top:50%;
          right:0.18rem;
          margin-top:-0.2rem;
        }
      }
      &-title{
        margin-right:0.5rem;
        @include lineClamp;
      }
      &-bd{
        height:0;
        overflow:hidden;
        transition: height 0.3s ease 0s;
      }
      &-content{
        padding:0.16rem;
      }
      &.is-open{
        @include divider;
        background-position:bottom;
        .vx-accordion--item-hd{
          .vx-arrow{
            transform: rotate(-135deg)!important;
            margin-top:-0.04rem;
          }
        }
      }
    }
  }
}