@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &actionsheet{
    &-inner{
      background:#fff;
      max-height: 80%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
    }
    &-cancel{
      padding: $item-padding;
      border-top:10px solid #eee;
      color:$color-sub;
    }
    &-item{
      padding:$item-padding;
      position:relative;
      border-left: 0.1rem solid transparent;
      border-right: 0.1rem solid transparent;
      user-select:none;
      white-space: nowrap;
      overflow: hidden;
      @include active;
      &-text{
        @include disabled;
      }
      &:after{
        @include divider;
      }
      &:last-child:after{
        display:none;
      }
      &-active{
        color:$color-primary;
      }
      &-disabled{
        opacity: 0.6;
      }
    }
    &-menu {
      .#{$css-prefix}actionsheet{
        &-inner{
          max-width:500px;
          width:60%;
          border-radius:3px;
        }
        &-item{
          border-left:0;
          border-right:0;
        }
      }
    }
  }
}