@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &badge{
    display: inline-block;
    background: $color-error;
    color: #fff;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    padding: 0 5px;
    background-clip: padding-box;
    vertical-align: middle;
    text-align:center;
    &-dot{
      height: auto;
      padding: 4px;
      position:relative;
      top:-1px;
    }
    .badge-ellipsis{
      margin:0 -3px;
    }
  }
}