@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &btn{
    @include button;
    height:0.92rem;
    position:relative;
    box-sizing:border-box;
    background-color:#fff;
    border-radius:$border-radius-base;
    font-size: inherit;
    cursor: default;
    &.is-disabled{
      &:before{
        @include _disabled;
        background:#fff;
      }
    }
    &--size{
      &-large{
        width:100%;
        display:block;
      }
    }
    &--default{
      @include round-border;
    }
    &:active{
      box-shadow:0 0 0 2rem rgba(0,0,0,0.15) inset;
    }
    &.is-ripple{
      &:active{
        box-shadow:none;
      }
    }
    &--primary{
      background-color:$color-primary;
      color:#fff;
      &.is-plain{
        background-color:#fff;
        color:$color-primary;
        @include round-border($color-primary);
      }
    }
    &--warning{
      background-color:$color-warning;
      color:#fff;
      &.is-plain{
        background-color:#fff;
        color:$color-warning;
        @include round-border($color-warning);
      }
    }
    &--danger{
      background-color:$color-danger;
      color:#fff;
      border:0;
      &.is-plain{
        background-color:#fff;
        color:$color-danger;
        @include round-border($color-danger);
      }
    }
    &--link{
      color:$color-primary;
      border-radius:0;
      height:auto;
    }
    span{
      margin:0 0.1rem;
    }
    .#{$css-prefix}spinner{
      &-wrapper{
        width:0.32rem;
        height:0.32rem;
      }
    }
    .vx-ripple{
      position:absolute;
      height:100%;
      width:100%;
      z-index:1;
      top:0;
      left:0;
    }
  }
}