@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &button-tab{
    text-align:center;
    position:relative;
    user-select: none;
    line-height:0.8rem;
    @include round-border($border-color-base,1rem);
    &--small{
      line-height:0.68rem;
      font-size:$font-size-small;
    }
    &--item{
      position:relative;
      z-index:1;
      @include lineClamp;
      &.is-active{
        background-color:$color-primary;
        color:#fff;
        // transition: all $transition-time $ease-in-out;
        &:before{
          display:none;
        }
      }
      &:first-child{
        border-top-left-radius:1rem;
        border-bottom-left-radius:1rem;
        &:before{
          display:none;
        }
      }
      &:last-child{
        border-top-right-radius:1rem;
        border-bottom-right-radius:1rem;
      }
      &:before{
        content:'';
        border-left:1px solid $border-color-base;
        transform:scaleX(0.5);
        height:100%;
        position:absolute;
        top:0;
        left:0;
      }
    }
  }
}