@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &btn{
    @include button;
    display:block;
    height:0.9rem;
    position:relative;
    width:100%;
    box-sizing:border-box;
    background-color:#fff;
    border-radius:$border-radius-base;
    font-size: inherit;
    cursor: default;
    @include disabled;
    &-default{
      @include round-border;
    }
    &:active{
      box-shadow:0 0 0 100px rgba(0,0,0,0.15) inset;
    }
    &-primary{
      background-color:$color-primary;
      color:#fff;
      &.is-plain{
        background-color:#fff;
        color:$color-primary;
        @include round-border($color-primary);
      }
    }
    &-warning{
      background-color:$color-warning;
      color:#fff;
      &.is-plain{
        background-color:#fff;
        color:$color-warning;
        @include round-border($color-warning);
      }
    }
    &-danger{
      background-color:$color-danger;
      color:#fff;
      border:0;
      &.is-plain{
        background-color:#fff;
        color:$color-danger;
        @include round-border($color-danger);
      }
    }
    span{
      margin:0px 5px;
    }
    .#{$css-prefix}spinner{
      &-wrapper{
        width:16px;
        height:16px;
      }
    }
  }
}