@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &calendar{
    flex-wrap: wrap;
    position:relative;
    @include divider;
    &-wrapper{
      text-align:center;
      background:#fff;
    }
    &-date{
      width:14.285714285714286%;
      line-height:0.92rem;
      height: 0.92rem;
      &.is-start,&.is-end{
        color:#fff!important;
        background:rgba($color-primary, 0.95);
      }
      &.is-active{
        background:rgba($color-primary,0.15);
      }
      &.is-disabled{
        color:$color-sub;
      }
      &.is-weekend{
        color:#F96903;
        &.is-disabled{
          color:rgba(#F96903,0.6);
        }
      }
      &.is-today{
        color:$color-primary
      }
    }
    &-header{
      line-height:0.8rem;
      .is-weekend{
        color:#F96903;
      }
      button{
        @include button;
        height:0.92rem;
        min-width:1rem;
        &:disabled{
          opacity: 0.5;
        }
      }
    }
    &-controls{
      button{
        opacity: 0.8;
      }
    }
  }
}