@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &calendar{
    flex-wrap: wrap;
    position:relative;
    @include divider;
    &--wrapper{
      text-align:center;
      background:#fff;
      position:relative;
    }
    &--date{
      width:14.285714285714286%;
      line-height:0.92rem;
      height: 0.92rem;
      &.is-start,&.is-end{
        color:#fff!important;
        background:rgba($color-primary, 0.95);
      }
      &.is-active{
        background:rgba($color-primary,0.15);
      }
      &.is-disabled{
        color:$color-sub;
      }
      &.is-weekend{
        color:#F96903;
        &.is-disabled{
          color:rgba(#F96903,0.6);
        }
      }
      &.is-today{
        color:$color-primary
      }
    }
    &--header{
      line-height:0.8rem;
      .is-weekend{
        color:#F96903;
      }
      button{
        @include button;
        height:0.92rem;
        min-width:1rem;
        @include disabled;
      }
    }
    &--controls{
      button{
        opacity: 0.8;
      }
      .vx-flexbox--item{
        position:relative;
      }
      input{
        font-size:inherit;
        font-family:inherit;
        border:0;
        text-align:center;
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        outline:none;
        opacity:0;
        &:focus{
          opacity:1;
        }
      }
    }
  }
}