@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &cascader-picker{
    &--value{
      text-align:left;
      @include scroller;
      position: relative;
      &-item{
        @include var-height($box-size-height-default, 'line-height');
        margin-left:0.2rem;
        display:inline-block;
        position:relative;
        &.is-active{
          @include var-border-color();
          @include var-color();
          &:after{
            width:0.24rem;
            position:absolute;
            margin-left:-0.12rem;
            bottom:0;
            left:50%;
            @include var-border-color();
            border-bottom:2px solid;
            content:'';
          }
        }
      }
    }
    &--container{
      position:relative;
      height:6rem;
      overflow:hidden;
      @include divider;
    }
    &--panel{
      @include scroller;
      text-align:left;
      position:absolute;
      height:100%;
      width:100%;
      transform: translate3d(100%,0,0);
      transition: transform 0.2s ease 0s;
      backface-visibility: hidden;
      perspective: 1000;
    }
    &--item{
      @include active;
      @include var-height($box-size-height-default, 'line-height');
      padding:0 0.16rem;
      position:relative;
      @include lineClamp;
      @include divider;
      background-color:transparent;
      &.is-active{
        @include var-color();
      }
      @include disabled;
      &:first-child{
        background-image:none;
      }
    }
  }
}