@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &cascader-picker{
    &--value{
      text-align:left;
      @include scroll;
      position: relative;
      &-item{
        line-height:0.92rem;
        margin-left:0.2rem;
        display:inline-block;
        position:relative;
        &.is-active{
          border-bottom-color:$color-primary;
          color:$color-primary;
          &:after{
            width:0.24rem;
            position:absolute;
            margin-left:-0.12rem;
            bottom:0;
            left:50%;
            border-bottom:2px solid $color-primary;
            content:'';
          }
        }
      }
    }
    &--container{
      position:relative;
      height:6rem;
      overflow:hidden;
      @include divider;
    }
    &--panel{
        @include scroll;
        text-align:left;
        position:absolute;
        height:100%;
        width:100%;
        transform: translate3d(100%,0,0);
        transition: transform 0.2s ease 0s;
        backface-visibility: hidden;
        perspective: 1000;
      }
    &--item{
      @include active;
      line-height:0.92rem;
      height:0.92rem;
      padding:0 0.16rem;
      position:relative;
      @include lineClamp;
      @include divider;
      background-color:transparent;
      &.is-active{
        color:$color-primary;
      }
      @include disabled;
      &:first-child{
        background-image:none;
      }
    }
  }
}