@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &cell{
    padding: 0.1rem 0.2rem;
    height: 0.7rem;
    position: relative;
    &-hd{
      margin-right:0.1rem;
    }
    &-bd{
      text-align:left;
    }
    &-ft{
      position:relative;
    }
    &:after{
      @include divider;
    }
  }
  &cell-access{
    @include active;
    .#{$css-prefix}cell-ft{
      padding-right:12px;
      color:$color-sub;
      &:after{
        @include arrow;
      }
    }
  }
}