@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &cell{
    padding: 0.12rem 0.2rem;
    height: 0.68rem;
    position: relative;
    @include divider;
    &-hd{
      margin-right:0.1rem;
    }
    &-bd{
      text-align:left;
    }
    &-ft{
      position:relative;
    }
    &:first-child{
      background-image:none;
    }
  }
  &cell-access{
    @include active;
    .#{$css-prefix}cell-ft{
      padding-right:0.24rem;
      color:$color-sub;
      &:after{
        @include arrow;
      }
    }
  }
}