@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &cell{
    padding: 0.12rem 0.2rem;
    &.is-divider{
      @include divider;
    }
    &--inner{
      min-height: 0.68rem;
      position: relative;
    }
    &--hd{
      margin-right:0.1rem;
    }
    &--bd{
      text-align:left;
      margin-right:5px;
    }
    &--ft{
      position:relative;
      color:rgba($color-black, 0.75);
      .vx-select{
        margin-right: -0.15rem;
      }
    }
    &--value{
      max-width: 50vw;
      input{
        border:0;
        text-align:right;
        font-size:inherit;
        outline:none;
        font-family:inherit;
        color:inherit;
      }
      .vx-select{
        height:0.68rem;
      }
    }
    &--default-slot{
    }
    &--access{
      @include active;
      .#{$css-prefix}cell--ft{
        padding-right:0.24rem;
        &:after{
          @include arrow;
        }
      }
    }
    &:first-child{
      background-image:none;
    }
  }
}