@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &checkbox{
    display:block;
    position:relative;
    padding:0.25rem 0.15rem;
    line-height:20px;
    @include disabled;
    &-group{
      user-select: none;
      @include disabled;
      &-divider{
        .#{$css-prefix}checkbox:after{
          @include divider()
        }
      }
    }
    input{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
      opacity:0;
      padding:0;
      margin:0;
    }
    &-icon{
      width:20px;
      height:20px;
      //box-shadow:0 0 1px #666 inset;
      border-radius:20px;
      display:inline-block;
      //transition:all 0.2s $ease-in-out;
      margin-right:4px;
      text-align: center;
      vertical-align: middle;
      color:transparent;
      line-height: 1.3;
      font-size: 16px;
      @include round-border($border-color-base,200px);
      position:absolute;
      top:50%;
      left:0.15rem;
      margin-top:-10px;
    }
    &-reverse{
      .#{$css-prefix}checkbox{
        &-icon{
          right:0.15rem;
          left:auto;
        }
        &-text{
          padding-left:0;
          padding-right:0.6rem;
        }
      }
    }
    &-text{
      display:block;
      padding-left:0.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    input:checked + &-icon{
      background-color:$color-primary;
      box-shadow:none;
      color:#fff;
      &:before{
        border-color:$color-primary;
      }
    }
  }
}