@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &checker{
    display:inline-block;
    vertical-align: middle;
    position:relative;
    margin-right:5px;
    margin-bottom:5px;
    input{
      opacity:0;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      margin:0;
      z-index:1;
      &:checked+button{
        border-color:$color-primary;
        color:$color-primary;
        &:before{
          border-color:$color-primary;
        }
      }
    }
    button{
      vertical-align: middle;
      @include button();
      @include round-border($border-color-base,0);
      min-width:50px;
      height:0.8rem;
      padding:0 0.15rem;
      text-align:center;
      @include disabled;
    }
    &-group{
      user-select: none;
      @include disabled;
    }
  }
}