@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &checkbox{
    display:block;
    position:relative;
    padding:0.25rem 0.15rem;
    @include disabled;
    overflow:hidden;
    &-group{
      user-select: none;
      @include disabled;
      &-divider{
        .#{$css-prefix}checkbox{
          @include divider;
          &:first-child{
            background-image:none;
          }
        }
      }
    }
    input{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
      opacity:0;
      padding:0;
      margin:0;
    }
    &-icon{
      width:0.4rem;
      height:0.4rem;
      border-radius:50%;
      //transition:all 0.2s $ease-in-out;
      margin-right:0.08rem;
      text-align: center;
      @include round-border(darken($border-color-base,10%),200px);
      position:absolute;
      top:50%;
      left:0.15rem;
      margin-top:-0.2rem;
    }
    &-reverse{
      .#{$css-prefix}checkbox{
        &-icon{
          right:0.15rem;
          left:auto;
        }
        &-text{
          padding-left:0;
          padding-right:0.6rem;
        }
      }
    }
    &-text{
      display:block;
      padding-left:0.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    input:checked + &-icon{
      background-color:$color-primary;
      box-shadow:none;
      color:#fff;
      &:before{
        display:none;
      }
      &:after{
        border: 0.04rem solid #fff;
        border-left: 0;
        border-top: 0;
        content: " ";
        top: 50%;
        left: 50%;
        position: absolute;
        width: 0.08rem;
        height: 0.16rem;
        margin-left: -0.06rem;
        margin-top: -0.12rem;
        transform: rotate(45deg);
      }
    }
  }
}