@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &confirm{
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: 1000;
    display:none;
    user-select: none;
    &-wrapper{
      display:table-cell;
      vertical-align:middle;
      position:relative;
      z-index:1;
      text-align:center;
    }
    &-inner{
      background:#fff;
      border-radius:3px;
      width:90vw;
      display: inline-block;
      max-width:400px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    }
    &-body{
      max-height: 90%;
      padding:0.8rem 0.5rem;
    }
    &-footer{
      button{
        @include button;
        padding:$item-padding;
        @include active;
        user-select:none;
        position:relative;
        font-size:inherit;
        line-height:100%;
        color:$color-sub;
        &+button:before{
          @include divider-vertical();
        }
        &:last-child{
          color:$color-primary;
        }
      }
    }
  }
}
.confirm-scale-enter-active, .confirm-scale-leave-active {
  transition: transform $transition-time ease 0s,opacity $transition-time ease 0s;
}
.confirm-scale-enter{
  opacity:0;
  transform: scale(1.3);
}
.confirm-scale-leave-active{
  opacity:0;
  transform: scale(0.9);
}
.confirm-fade-enter-active, .confirm-fade-leave-active {
  transition: opacity $transition-time ease 0s;
}
.confirm-fade-enter, .confirm-fade-leave-active {
  opacity: 0;
}