@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &daterange-picker{
    &-wrapper{
      .#{$css-prefix}popup-inner{
        max-height:100%;
      }
    }
    &-cancel,&-clear, &-confirm{
      @include button;
      height: 1rem!important;
      width: 1.8rem;
      color:$color-sub
    }
    &-confirm{
      color:$color-primary;
    }
  }
}