@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &divider{
    position:relative;
    @include divider;
    min-height:1px;
    &.is-vertical{
      min-height:0;
      min-width:1px;
      @include divider($color-divider, true);
    }
  }
}