@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$--css-prefix}{
  &flexbox{
    @include flexbox;
    &--content{
      &-center{
        -ms-flex-align: center;
        -moz-box-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
      }
    }
    &--align-center{
      -ms-flex-align: center;
      -moz-box-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
    }
    &--wrap{
      -ms-flex-wrap: wrap;
      -moz-box-lines: multiple;
      -webkit-box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    &--column{
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
    }
    &--item{
      @include flexbox-item;
      &:first-child{
        margin-left:0!important
      }
      &:last-child{
        margin-right:0!important
      }
    }
    &--item + &--item{
      margin-left: 0!important
    }
  }
}