@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &form-item{
    position:relative;
    &-inner{
      @include disabled;
      position:relative;
      background:#fff;
      height: 0.9rem;
      &:after{
        @include divider;
      }
    }
    .#{$css-prefix}input-wrapper,.#{$css-prefix}password{
      position:static;
      background: transparent;
      input{
        padding-left:0;
      }
    }
    &-label{
      color:$color-sub;
      padding:0 0.15rem;
      width:1.5rem;
      text-align: left;
    }
    &-control{
      padding:0 0.15rem;
      >input{
        @include input;
      }
    }
    &-error{
      color:$color-error;
      padding:0 0.15rem;
      font-size: $font-size-small;
      margin-bottom:0.15rem;
    }
    &.is-required{
      .vx-form-item-label{
        &:before{
          color:$color-error;
          content:'*'
        }
      }
    }
  }
}