@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &form-item{
    position:relative;
    &-inner{
      @include disabled;
      position:relative;
      background:#fff;
      height: 0.9rem;
    }
    .#{$css-prefix}input-wrapper,.#{$css-prefix}password{
      position:static;
      background: transparent;
      input{
        padding-left:0;
      }
    }
    &-label{
      color:#999;
      padding:0 0.15rem;
    }
    &-control{
      padding:0 0.15rem;
      >input{
        @include input;
      }
    }
    &-align-right{
      text-align:right;
    }
    &-error{
      background-color:$color-error;
      color:#fff;
      padding:0 0.15rem;
      font-size: $font-size-small;
      position:absolute;
      z-index:2;
      border-radius:3px;
    }
  }
}