@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &header{
    background:#fff;
    .nav{
      color:#fff;
      background-color:$color-primary;
      height:0.9rem;
    }
    .btn-pull{
      color:inherit;
      height:inherit;
      min-width: 40px;
      text-align: center;
      @include button;
      @include active;
    }
    &-back{
      margin-right:-10px;
      position:relative;
      z-index:1;
      &:active{
        background:transparent!important;
      }
    }
    &-title{
      font-size:0.38rem;
      overflow: hidden;
      &-center{
        text-align:center;
      }
    }
  }
}