@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$css-prefix}{
  &img{
    &.is-placeholder,&.is-error,&.is-loading{
      background:center no-repeat;
      background-size:30px;
    }
  }
}