@import '../variable.scss';
@import '../mixins.scss';
@import './actionsheet.scss';
@import './alert.scss';
@import './badge.scss';
@import './body.scss';
@import './button.scss';
@import './button-tab.scss';
@import './cell.scss';
@import './carousel.scss';
@import './checkbox.scss';
@import './checker.scss';
@import './confirm.scss';
@import './daterange.scss';
@import './daterange-picker.scss';
@import './datetime.scss';
@import './datetime-picker.scss';
@import './divider.scss';
@import './flexbox.scss';
@import './list-view.scss';
@import './form.scss';
@import './group.scss';
@import './header.scss';
@import './icon.scss';
@import './img.scss';
@import './input.scss';
@import './layout.scss';
@import './marquee.scss';
@import './overlay.scss';
@import './password.scss';
@import './picker.scss';
@import './popover.scss';
@import './popup.scss';
@import './popup-picker.scss';
@import './preview.scss';
@import './prompt.scss';
@import './radio.scss';
@import './range.scss';
@import './rater.scss';
@import './ripple.scss';
@import './search.scss';
@import './select.scss';
@import './sidebar.scss';
@import './spinner.scss';
@import './sticky.scss';
@import './swipeout.scss';
@import './swiper.scss';
@import './switch.scss';
@import './tab.scss';
@import './tabbar.scss';
@import './textarea.scss';
@import './message.scss';
@import './toast.scss';

body{
  font-size:$font-size-default;
  -webkit-tap-highlight-color:transparent;
  tap-highlight-color:transparent;
}