@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &input-wrapper{
    position:relative;
    display:block;
    height:0.92rem;
    background:#fff;
    .vx-arrow{
      margin-left:10px;
      margin-right:10px;
      margin-top:-0.1rem;
      transition: transform 0.18s ease 0s;
    }
    input{
      border:0;
      width:100%;
      height:100%;
      box-sizing:border-box;
      outline: none;
      text-align: inherit;
      font-size: inherit;
      padding:0 0.2rem;
      vertical-align: middle;
      background: transparent;
      @include disabled;
    }
    
    &:before{
      @include divider;
      z-index:1;
      position:absolute;
      content:'';
      height:1px;
      width:100%;
      left:0;
      bottom:-1px;
      background-color: transparent;
    }
    &:after{
      @include divider($color-primary);
      width:0;
      position:absolute;
      content:'';
      height:1px;
      transition:width 0.4s $ease-in-out;
      z-index:2;
      left:0;
      bottom:-1px;
      background-color: transparent;
    }
    &.is-focus{
      &:after{
        width:100%;
      }
      .vx-arrow{
        transform:rotate(-135deg)!important;
        margin-top:0.1rem;
      }
    }
  }
  &input{
    &-inner{
      height:100%;
    }
    &-clear{
      &-button{
        @include button;
        width:0.8rem;
        height:100%;
      }
      &-icon{
        position:relative;
        transform: rotate(45deg);
        display: inline-block;
        vertical-align: middle;
        &:before{
          content: '';
          height:1px;
          position:absolute;
          width:0.4rem;
          background:$color-sub;
          left:50%;
          top:50%;
          margin-left:-0.2rem;
          margin-top:-1px;
          border-radius:3rem;
        }
        &:after{
          content: '';
          width:1px;
          position:absolute;
          height:0.4rem;
          background:$color-sub;
          left:50%;
          top:50%;
          margin-top:-0.2rem;
          margin-left:-1px;
          border-radius:3rem;
        }
      }
      .#{$css-prefix}input-clear-button{
        display:block;
      }
    }
  }
}
.input-clear-fade-enter-active, .input-clear-fade-leave-active {
  transition: opacity $transition-time;
}
.input-clear-fade-enter, .confirm-fade-leave-active {
  opacity: 0
}