@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &input-wrapper{
    position:relative;
    display:block;
    height:0.9rem;
    background:#fff;
    .#{$css-prefix}iconfont{
      color:$color-sub;
    }
    >.#{$css-prefix}iconfont:first-child{
      line-height: 100%;
      position: absolute;
      left: 5px;
      top: 50%;
      margin: -8px 0;
    }
    >.#{$css-prefix}iconfont:first-child+input{
      padding-left:30px;
    }
    input{
      border:0;
      width:100%;
      height:100%;
      box-sizing:border-box;
      outline: none;
      text-align: inherit;
      font-size: inherit;
      padding-left: 0.2rem;
      vertical-align: middle;
      background: transparent;
      @include disabled;
    }
    
    &:before{
      @include divider;
      z-index:1;
    }
    &:after{
      @include divider($color-primary);
      width:0;
      transition:width 0.4s $ease-in-out;
      z-index:2;
    }
  }
  &input-focus:after{
    width:100%;
  }
  &input-clear-button{
    position:absolute;
    top:0;
    right:0;
    @include button;
    width:40px;
    height:100%;
    display:none;
  }
  &input-clear{
    .#{$css-prefix}input-clear-button{
      display:block;
    }
    input{
      padding-right:40px;
    }
  }
}
.input-clear-fade-enter-active, .input-clear-fade-leave-active {
  transition: opacity $transition-time;
}
.input-clear-fade-enter, .confirm-fade-leave-active {
  opacity: 0
}