@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &input-number{
    height:0.6rem;
    position:relative;
    background:#fff;
    border:1px solid $border-color-base;
    border-radius:$border-radius-base;
    display: inline-block;
    @include disabled;
    button{
      @include button;
      width:0.6rem;
      height:100%;
      color:$color-sub;
      height:100%;
      &:first-child{
        border-right:1px solid $border-color-base;
      }
      &:last-child{
        border-left:1px solid $border-color-base;
      }
    }
    &-add,&-reduce{
      position:relative;
      &:before{
        content: '';
        height:1px;
        position:absolute;
        width:0.36rem;
        background:$color-sub;
        left:50%;
        top:50%;
        margin-left:-0.18rem;
        margin-top:-1px;
        border-radius:3rem;
      }
    }
    &-add{
      &:after{
        content: '';
        width:1px;
        position:absolute;
        height:0.36rem;
        background:$color-sub;
        left:50%;
        top:50%;
        margin-top:-0.18rem;
        margin-left:-1px;
        border-radius:3rem;
      }
    }
    input{
      @include input;
      width:1.6rem;
      height:100%;
      color:inherit;
      text-align:center;
      font-size: inherit;
    }
  }
}