@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &list-view{
    @include scroll;
    &-inner{
      position: relative;
      padding-top: 5px;
      backface-visibility: hidden;
      perspective: 1000;
      &.active .#{$css-prefix}list-view-refresh span:before{
        content:attr(data-refresh);
      }
      &.active{
        .#{$css-prefix}list-view-refresh{
          color:$color-primary;
          span:before{
            content:attr(data-refresh);
          }
          .vx-list-view-icon{
            transform: rotate(180deg);
            background:$color-primary;
            top:0.06rem;
            &:before{
              border-top-color:$color-primary;
            }
          }
        }
      }
      &.loading{
        .#{$css-prefix}list-view-refresh{ 
          span:before{
            content:attr(data-loading);
          }
          .vx-list-view-icon{
            display:none
          }
          .#{$css-prefix}list-view-spinner{
            display: inline-block
          }
        }
      }
    }
    &-refresh{
      color:$color-sub;
      line-height:0.9rem;
      margin-top:-0.9rem;
      text-align:center;
      .#{$css-prefix}list-view-spinner{
        display: none
      }
      span:before{
        content:attr(data-pulldown)
      }
    }
    &-loading{
      text-align:center;
      line-height:0.92rem;
      color:$color-sub;
    }
    &-spinner{
      margin-right:0.08rem;
    }
    &-icon{
      display:inline-block;
      width:0.14rem;
      height:0.16rem;
      background:$color-sub;
      position:relative;
      top:-0.08rem;
      margin-right:0.1rem;
      &:before{
        content:'';
        left:50%;
        top:100%;
        border:0.16rem solid transparent;
        border-top-color:$color-sub;
        position:absolute;
        margin-left:-0.16rem;
      }
    }
  }
}