@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$css-prefix}{
  &marquee{
    @include var-height($box-size-height-default, 'line-height');
    @include var-height();
    text-align:center;
    &--item{
      box-sizing: border-box;
      line-height: inherit;
    }
  }
}