@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &marquee{
    height:$size-height;
    line-height:$size-height;
    text-align:center;
    &--item{
      box-sizing: border-box;
      line-height: inherit;
    }
  }
}