@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &nav{
    background:#fff;
    position:relative;
    &--inner{
      height:0.92rem;
    }
    &--default{
      &:after{
        position:absolute;
        content: '';
        left:0;
        bottom:-1px;
        width:100%;
        height:1px;
        @include divider;
        z-index:1000;
        background-color:transparent;
      }
    }
    &--primary{
      .vx-nav--inner{
        color:#fff;
        background-color:$color-primary;
      }
    }
    .btn-pull{
      color:inherit;
      height:inherit;
      min-width: 0.8rem;
      text-align: center;
      @include button;
      @include active;
    }
    &--back{
      position:relative;
      z-index:1;
      padding:0 0.25rem;
      margin-right:-0.16rem;
      &:active{
        background:transparent!important;
      }
      .vx-arrow{
        margin-right: -0.16rem;
        vertical-align: baseline!important;
        margin-top: 0.05rem;
      }
      span{
        margin-left:0.1rem;
        font-size:0.32rem;
      }
    }
    &--title{
      font-size:0.38rem;
      overflow: hidden;
      text-overflow:ellipsis;
      &-center{
        text-align:center;
      }
    }
    &.is-back-text{
      .vx-nav-back{
        margin-right:0;
      }
    }
  }
}