@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &nav{
    background:#fff;
    position:relative;
    &-inner{
      color:#fff;
      background-color:$color-primary;
      height:0.92rem;
    }
    .btn-pull{
      color:inherit;
      height:inherit;
      min-width: 40px;
      text-align: center;
      @include button;
      @include active;
    }
    &-back{
      position:relative;
      z-index:1;
      padding:0 0.25rem;
      &:active{
        background:transparent!important;
      }
      .vx-arrow{
        margin-right: -0.16rem;
        vertical-align: baseline;
      }
      span{
        margin-left:5px;
        font-size:0.32rem;
      }
    }
    &-title{
      font-size:0.38rem;
      overflow: hidden;
      &-center{
        text-align:center;
      }
    }
  }
}