@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}page{
  &--flexbox{
    position:absolute;
    height:100%;
    width:100%;
    z-index:10;
  }
  &--default{
    .vx-page--flexbox{
      @include var-background-color($color-background);
    }
  }
  &--primary{
    .vx-page--flexbox{
      background:#fff;
    }
  }
}