@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &palace{
    overflow:hidden;
    &:after{
      display:table;
      font-size:0;
      content:'';
      clear: both;
    }
    &--inner{
      width: calc(100% + 1px);
    }
    &--item{
      float:left;
      background:#fff;
      text-align:center;
      position:relative;
      box-sizing:border-box;
      background-clip: content-box;
      border-right:1px solid transparent;
      border-bottom:1px solid transparent;
      &-inner{
        padding:0.2rem;
      }
      &.is-divider{
        @include divider($color-divider, true);
        background-position: right;
        border-right:0;
        border-bottom:0;
        &:after{
          content:'';
          width:100%;
          height:1px;
          position:absolute;
          left:0;
          bottom:0;
          @include divider();
        }
      }
    }
  }
}