@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &password{
      position:relative;
      input{
        padding-right:0.8rem;
      }
      label{
        position:static;
      }
      &-switch{
        position:absolute;
        right:0;
        top:0;
        @include button;
        width:0.8rem;
        height:100%;
        .#{$css-prefix}iconfont{
          color:#666;
        }
      }
    }
  }