@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &password{
      position:relative;
      input{
        padding-right:40px;
      }
      label{
        position:static;
      }
      &-switch{
        position:absolute;
        right:0;
        top:0;
        @include button;
        width:40px;
        height:100%;
        .#{$css-prefix}iconfont{
          font-size:20px;
          color:#666;
        }
      }
    }
  }