@import '../variable.scss';
@import '../mixins.scss';
$_color: #666;
.#{$css-prefix}{
  &password{
    &-switch{
      @include button;
      width:0.8rem;
      height:100%;
    }
    &-text-icon{
      font-style:normal;
      font-size:0.9em;
      color: $_color;
    }
    &-pwd-icon{
      display:inline-block;
      vertical-align: middle;
      width:0.1rem;
      height:0.1rem;
      border-radius:0.2rem;
      background: $_color;
      box-shadow: 0.13rem 0 0 $_color, -0.13rem 0 0 $_color;
    }
  }
}