@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &picker{
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
      height:294px;
      &::-webkit-scrollbar{
        display:none;
      }
      &-wrapper{
        position:relative;
        background:#fff;
        text-align: center;
        overflow:hidden;
      }
      &-scroller{
        padding:126px 0;
      }
      &-item{
        line-height:42px;
        overflow: hidden;
        white-space: nowrap;
        padding: 0px 0.15rem;
        height:42px;
      }
      &-active{
        // color:$color-primary;
      }
      &-indicator{
        &:before{
          @include divider
          top:125px;
          box-shadow: 0px -63px 0px 63px rgba(255, 255, 255, 0.4), 0px -64px 0px 21px rgba(255, 255, 255, 0.3), 0px -106px 0px 21px rgba(255, 255, 255, 0.45);
        }
        &:after{
          @include divider
          top:166px;
          box-shadow: 0px 63px 0px 63px rgba(255,255,255,0.4), 0px 64px 0px 21px rgba(255, 255, 255, 0.3), 0px 106px 0px 21px rgba(255, 255, 255, 0.45);
        }
      }
      &-placeholder{
        opacity:0.8;
      }
    }
  }