@import '../variable.scss';
@import '../mixins.scss';
$height : 42;
$unit: px;
.#{$css-prefix}{
  &picker{
    @include scroll;
    height:#{$height*7}#{$unit};
    &::-webkit-scrollbar{
      display:none;
    }
    &--wrapper{
      position:relative;
      background:#fff;
      text-align: center;
      overflow:hidden;
    }
    &--scroller{
      padding:#{$height*3}#{$unit} 0;
      line-height:#{$height}#{$unit};
    }
    &--item{
      @include lineClamp;
      padding: 0px 0.15rem;
      height:#{$height}#{$unit};
    }
    &.is-active{
      // color:$color-primary;
    }
    &--indicator{
      &-top{
        @include divider;
        position:absolute;
        content:'';
        height:1px;
        width:100%;
        left:0;
        top:#{$height*3}#{$unit};
      }
      &-bottom{
        @include divider;
        position:absolute;
        content:'';
        height:1px;
        width:100%;
        left:0;
        top:#{$height*4}#{$unit};
      }
    }
    &--placeholder{
      opacity:0.8;
    }
  }
}