@import '../variable.scss';
@import '../mixins.scss';

@mixin shadow($resolution:1) {
  &:before{
    @media screen and (if($resolution == 6,-webkit-min-device-pixel-ratio,-webkit-device-pixel-ratio) : $resolution) {
      box-shadow: 0px -#{$resolution*63}px 0px #{$resolution*64}px rgba(255, 255, 255, 0.5)
    }
  }
  &:after{
    @media screen and (if($resolution == 6,min-resolution,resolution): $resolution*1dppx) {
      box-shadow: 0px #{$resolution*63}px 0px #{$resolution*64}px rgba(255,255,255,0.5)
    }
  }
}

.#{$css-prefix}{
  &picker{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    height:294px;
    &::-webkit-scrollbar{
      display:none;
    }
    &-wrapper{
      position:relative;
      background:#fff;
      text-align: center;
      overflow:hidden;
    }
    &-scroller{
      padding:126px 0;
    }
    &-item{
      line-height:42px;
      overflow: hidden;
      white-space: nowrap;
      padding: 0px 0.15rem;
      height:42px;
    }
    &-active{
      // color:$color-primary;
    }
    &-indicator{
      &:before{
        @include divider;
        top:125px;
      }
      &:after{
        @include divider;
        top:166px;
      }
      @include shadow(1);
      @include shadow(2);
      @include shadow(3);
      @include shadow(4);
      @include shadow(5);
      @include shadow(6);
    }
    &-placeholder{
      opacity:0.8;
    }
  }
}