@import '../variable.scss';
@import '../mixins.scss';

$height : 42;
$unit: px;
.#{$css-prefix}{
  &picker{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    height:#{$height*7}#{$unit};
    &::-webkit-scrollbar{
      display:none;
    }
    &-wrapper{
      position:relative;
      background:#fff;
      text-align: center;
      overflow:hidden;
      &:before,&:after{
        position:absolute;
        top:-1px;
        height:1px;
        width:100%;
        content:'';
        left:0;
        box-shadow: 0px 0px 0px #{$height*3}#{$unit} rgba(255,255,255,0.45);
        z-index: 1;
      }
      &:after{
        bottom:-2px;
        top:auto;
        box-shadow: 0px 0px 0px #{$height*3}#{$unit} rgba(255,255,255,0.45);
      }
    }
    &-scroller{
      padding:#{$height*3}#{$unit} 0;
    }
    &-item{
      line-height:#{$height}#{$unit};
      overflow: hidden;
      white-space: nowrap;
      padding: 0px 0.15rem;
      height:#{$height}#{$unit};
    }
    &.is-active{
      // color:$color-primary;
    }
    &-indicator{
      &:before{
        @include divider;
        position:absolute;
        content:'';
        height:1px;
        width:100%;
        left:0;
        top:#{$height*3}#{$unit};
      }
      &:after{
        @include divider;
        position:absolute;
        content:'';
        height:1px;
        width:100%;
        left:0;
        top:#{$height*4}#{$unit};
      }
    }
    &-placeholder{
      opacity:0.8;
    }
  }
}