@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$--css-prefix}{
  &popover{
    display: inline-block;
    vertical-align: middle;
    &--content{
      position:absolute;
      background:#fff;
      border-radius:0.1rem;
      color:$--color-black;
      padding: 0.15rem;
      z-index:1001;
      margin: 0.24rem 0;
      &:before{
        content:'';
        border:0.2rem solid transparent;
        border-bottom-color:#fff;
        position:absolute;
        left:0.2rem;
        top:-0.36rem;
      }
      &-right{
        &:before{
          right:0.2rem;
          left:auto;
        }
      }
      &-bottom{
        &:before{
          border:0.2rem solid transparent;
          border-top-color:#fff;
          bottom:-0.36rem;
          top:auto;
        }
      }
    }
    &--menu{
      list-style: none;
      padding: 0;
      margin: 0;
      &-item{
        min-width:1.8rem;
        line-height:0.9rem;
        padding:0 15px;
      }
    }
  }  
}