@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &popup{
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: 1000;
    user-select:none;
    display:none;
    &--inner{
      background:#fff;
      position:absolute;
      display:flex;
      flex-direction: column;
    }
    &--top{
      top:0;
      left:0;
      width:100%;
      max-height: 100%;
      &.is-full{
        height:100%;
        max-height: 100%;
      }
    }
    &--bottom{
      bottom:0;
      left:0;
      width:100%;
      max-height: 100%;
      &.is-full{
        height:100%;
        max-height: 100%;
      }
    }
    &--left{
      top:0;
      left:0;
      height:100%;
      max-width: 100%;  
      &.is-full{
        width:100%;
        max-width: 100%;
      }
    }
    &--right{
      top:0;
      right:0;
      height:100%;
      max-width: 100%;
      &.#{$css-prefix}full{
        width:100%;
        max-width: 100%;
      }
    }
    &--center{
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: transparent;
      &.is-full{
        display:block;
        background:#fff;
      }
      .#{$css-prefix}popup--body{
        margin:auto;
      }
    }
    &--close{
      transform: rotate(45deg);
      display: inline-table;
      vertical-align: middle;
      width:0.5rem;
      height:0.5rem;
      margin:0.12rem;
      z-index:10;
      &:before{
        content: '';
        height:1px;
        position:absolute;
        width:100%;
        background:$color-assist;
        left:50%;
        top:50%;
        transform:translateX(-50%);
        margin-top:-1px;
      }
      &:after{
        content: '';
        width:1px;
        position:absolute;
        height:100%;
        background:$color-assist;
        left:50%;
        top:50%;
        transform:translateY(-50%);
        margin-left:-1px;
      }
    }
    &--body{
      position:relative;
      text-align:left;
      @include scroll;
      &.is-flex{
        flex:auto;
      }
      .vx-popup--close{
        position:absolute;
        right:0;
        top:0;
      }
    }
    &--nav{
      min-height:0.9rem;
      position:relative;
      display:flex;
      align-items:center;
      button{
        @include button;
        position: relative;
        z-index: 1;
        padding: 0 0.25rem;
        margin-right:-0.16rem;
        height:100%;
        min-width:0.8rem;
        .vx-arrow{
          margin-right: -0.16rem;
          vertical-align: baseline!important;
          margin-top: 0.05rem;
        }
      }
      &-title{
        font-size: $font-size-xl;
        @include lineClamp;
        text-align:left;
        flex:auto;
      }
    }
  }
}

.popup-fade-enter-active, .popup-fade-leave-active {
  transition: opacity $transition-time ease 0s;
}
.popup-fade-enter, .popup-fade-leave-active {
  opacity: 0;
}

.popup-slide-center-enter-active, .popup-slide-center-leave-active {
  transition: opacity $transition-time
}
.popup-slide-center-enter, .popup-slide-center-leave-active {
  opacity: 0
}

.popup-slide-top-enter-active, .popup-slide-top-leave-active {
  transition: transform $transition-time
}
.popup-slide-top-enter, .popup-slide-top-leave-active {
  transform: translate3d(0,-100%,0);
}
.popup-full-slide-top-enter-active, .popup-full-slide-top-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-top-enter, .popup-full-slide-top-leave-active {
  transform: translate3d(0,-100%,0);
}

.popup-slide-bottom-enter-active, .popup-slide-bottom-leave-active {
  transition: transform $transition-time
}
.popup-slide-bottom-enter, .popup-slide-bottom-leave-active {
  transform: translate3d(0,100%,0);
}
.popup-full-slide-bottom-enter-active, .popup-full-slide-bottom-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-bottom-enter, .popup-full-slide-bottom-leave-active {
  transform: translate3d(0,100%,0);
}

.popup-slide-left-enter-active, .popup-slide-left-leave-active {
  transition: transform $transition-time
}
.popup-slide-left-enter, .popup-slide-left-leave-active {
  transform: translate3d(-100%,0,0);
}
.popup-full-slide-left-enter-active, .popup-full-slide-left-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-left-enter, .popup-full-slide-left-leave-active {
  transform: translate3d(-100%,0,0);
}

.popup-slide-right-enter-active, .popup-slide-right-leave-active {
  transition: transform $transition-time
}
.popup-slide-right-enter, .popup-slide-right-leave-active {
  transform: translate3d(100%,0,0);
}
.popup-full-slide-right-enter-active, .popup-full-slide-right-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-right-enter, .popup-full-slide-right-leave-active {
  transform:  translate3d(100%,0,0);
}

.popup-slide-center-enter-active, .popup-slide-center-leave-active {
  transition: opacity $transition-time
}
.popup-slide-center-enter, .popup-slide-center-leave-active {
  transform: 0;
}
.popup-full-slide-center-enter-active, .popup-full-slide-center-leave-active {
  transition: opacity 0.4s;
}
.popup-full-slide-center-enter, .popup-full-slide-center-leave-active {
  transform: 0;
}