@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$css-prefix}{
  &popup-picker{
    background:#fff;
    &--item{
      flex:1;
      min-width:0;
    }
    &--header{
      position:relative;
      @include divider;
      background-position:bottom;
    }
    &--placeholder{
      @include var-height($box-size-height-default, 'line-height');
      @include lineClamp;
      @include button;
      @include var-color($color-light);
    }
    &--cancel,&--confirm{
      @include button;
      @include var-height();
      width: 1.5rem;
      @include var-color($color-assist);
    }
    &--confirm{
      @include var-color();
      &[disabled]{
        @include var-color($color-assist);
      }
    }
  }
}