@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &popup{
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: 1000;
    display:none;
    user-select:none;
    &-inner{
      background:#fff;
      position:absolute;
      overflow: auto;
    }
    &-top{
      top:0;
      left:0;
      width:100%;
      max-height: 80%;
      &.#{$css-prefix}full{
        height:100%;
        max-height: 100%;
      }
    }
    &-bottom{
      bottom:0;
      left:0;
      width:100%;
      max-height: 80%;
      &.#{$css-prefix}full{
        height:100%;
        max-height: 100%;
      }
    }
    &-left{
      top:0;
      left:0;
      height:100%;
      max-width: 80%;  
      &.#{$css-prefix}full{
        width:100%;
        max-width: 100%;
      }
    }
    &-right{
      top:0;
      right:0;
      height:100%;
      max-width: 80%;
      &.#{$css-prefix}full{
        width:100%;
        max-width: 100%;
      }
    }
    &-center{
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: transparent;
      &.#{$css-prefix}full{
        display:block;
        background:#fff;
      }
    }
  }
}

.popup-fade-enter-active, .popup-fade-leave-active {
  transition: opacity $transition-time
}
.popup-fade-enter, .popup-fade-leave-active {
  opacity: 0
}

.popup-slide-top-enter-active, .popup-slide-top-leave-active {
  transition: transform $transition-time
}
.popup-slide-top-enter, .popup-slide-top-leave-active {
  transform: translateY(-100%);
}
.popup-full-slide-top-enter-active, .popup-full-slide-top-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-top-enter, .popup-full-slide-top-leave-active {
  transform: translateY(-100%);
}

.popup-slide-bottom-enter-active, .popup-slide-bottom-leave-active {
  transition: transform $transition-time
}
.popup-slide-bottom-enter, .popup-slide-bottom-leave-active {
  transform: translateY(100%);
}
.popup-full-slide-bottom-enter-active, .popup-full-slide-bottom-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-bottom-enter, .popup-full-slide-bottom-leave-active {
  transform: translateY(100%);
}

.popup-slide-left-enter-active, .popup-slide-left-leave-active {
  transition: transform $transition-time
}
.popup-slide-left-enter, .popup-slide-left-leave-active {
  transform: translateX(-100%);
}
.popup-full-slide-left-enter-active, .popup-full-slide-left-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-left-enter, .popup-full-slide-left-leave-active {
  transform: translateX(-100%);
}

.popup-slide-right-enter-active, .popup-slide-right-leave-active {
  transition: transform $transition-time
}
.popup-slide-right-enter, .popup-slide-right-leave-active {
  transform: translateX(100%);
}
.popup-full-slide-right-enter-active, .popup-full-slide-right-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-right-enter, .popup-full-slide-right-leave-active {
  transform: translateX(100%);
}

.popup-slide-center-enter-active, .popup-slide-center-leave-active {
  transition: opacity $transition-time
}
.popup-slide-center-enter, .popup-slide-center-leave-active {
  transform: 0;
}
.popup-full-slide-center-enter-active, .popup-full-slide-center-leave-active {
  transition: opacity 0.4s;
}
.popup-full-slide-center-enter, .popup-full-slide-center-leave-active {
  transform: 0;
}