@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$css-prefix}{
  &prompt{
    &--input{
      text-align:left;
    }
    &.is-disabled{
      .#{$css-prefix}confirm--footer button:last-child{
        @include _disabled;
      }
    }
    &--message{
      text-align:left;
      margin: 0.1rem 0;
    }
  }
}