@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &prompt{
      input{
        text-align:left;
      }
      &.is-disabled{
        .#{$css-prefix}confirm-footer button:last-child{
          opacity:0.5;
          pointer-events: none;
        }
      }
      .vx-confirm-body{
        padding:1px;;
      }
      &-message{
        text-align:left;
        margin: 0.1rem 0;
      }
    }
  }