@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &prompt{
      input{
        text-align:left;
        padding-left:0;
      }
      &.is-disabled{
        .#{$css-prefix}confirm-footer button:last-child{
          opacity:0.5;
          pointer-events: none;
        }
      }
    }
  }