@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &radio{
    display:block;
    position:relative;
    padding:0.25rem 0.15rem;
    line-height:20px;
    @include disabled;
    input{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
      opacity:0;
      padding:0;
      margin:0;
    }
    &-icon{
      position:absolute;
      right:0.15rem;
      top:50%;
      width: 20px;
      height: 20px;
      margin-top:-10px;
      display:none;
      .#{$css-prefix}iconfont{
        font-size:20px;
      }
    }
    &-text{
      display:block;
      padding-right:0.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    input:checked + &-icon{
      color:$color-primary;
      display:block;
    }
  }
}
.#{$css-prefix}{
  &radio-group{
    user-select: none;
    @include disabled;
    &-divider{
      .#{$css-prefix}radio:after{
        @include divider()
      }
    }
  }
}