@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &range{
      &-wrapper{
        height:0.9rem;
        position:relative;
        min-width:100px;
      }
      &-disabled{
        opacity: 0.6;
        pointer-events: none;
      }
      &-mask{
        @include divider(#ccc);
        z-index:1;
        top:50%;
      }
      &-value{
        @include divider($color-primary);
        width:0;
        z-index:2;
        top:50%;
      }
      &-button{
        border:0;
        height:0.7rem;
        width:0.7rem;
        border-radius:50%;
        background:#fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.4);
        position:absolute;
        top:50%;
        left:0;
        margin:-0.35rem 0;
        z-index:100;
      }
      &-tips{
        position:absolute;
        left:50%;
        bottom:100%;
        background:rgba(0,0,0,0.6);
        color:#fff;
        padding:5px;
        line-height:100%;
        border-radius:3px;
        margin-bottom:8px;
        transform:translateX(-50%);
        min-width:20px;
        text-align:center;
        display:none;
        &:before{
          content:'';
          position:absolute;
          border:4px solid transparent;
          border-top-color:rgba(0,0,0,0.6);
          left:50%;
          top:100%;
          margin-left:-4px;
        }
      }
    }
    
  }