@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &search{
      position:relative;
      background:#ddd;
      padding:1px;
      .#{$css-prefix}input-wrapper{
        height:0.7rem;
        margin: 4px;
        border-radius:1rem;
        &:before,&:after{
          display:none;
        }
      }
      .#{$css-prefix}input-clear-button{
        width:40px;
        .#{$css-prefix}iconfont{
          font-size:14px;
        }
      }
      input{
        padding-left:30px;
        -webkit-appearance: none;
        appearance: none;
      }
      input::-webkit-search-cancel-button{
        display:none;
      }
      input::search-cancel-button{
        display:none;
      }
      &-cancel{
        @include button;
        .#{$css-prefix}iconfont{
          font-size:20px;
          position:relative;
          top:2px;
        }
        color:#fff;
      }
      &-button{
        @include button;
        color:#fff;
      }
    }
    &search-fixed{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background: #fff;
      width: 100%;
      flex-direction: column;
      z-index: 100;
      .#{$css-prefix}search{
        background:$color-primary;
      }
    }
    &search-container{
      .keywords{
        padding:15px;
        .keyword{
          display:inline-block;
          border:1px solid #eee;
          border-radius:30px;
          vertical-align: middle;
          padding:6px 15px;
          margin:5px;
          @include active;
        }
      }
    }
  }