@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &select{
    position:relative;
    height:0.9rem;
    @include disabled();
    button{
      border: 0;
      background-color: transparent;
      font-size: inherit;
      text-align: inherit;
      height: 100%;
      outline: none;
      box-sizing: border-box;
      width: 100%;
      padding:0;
      z-index:1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include placeholder;
    }
    &-picker{
      .#{$css-prefix}popup-inner{
        overflow:visible;
      }
      .vx-popup-center{
        .vx-option-picker-wrapper{
          background:#fff;
          width:80%;
          border-radius:$border-radius-base;
        }
      }
    }
  }
  &option-picker{
    text-align: left;
    max-height:400px;
    max-height: 65vh;
    overflow:auto;
    .#{$css-prefix}{
      &checkbox{
        &.is-active{
          color:$color-primary;
        }
      }
    }
  }
}