@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &select{
    position:relative;
    height:0.92rem;
    @include disabled();
    button{
      border: 0;
      background-color: transparent;
      font-size: inherit;
      text-align: inherit;
      height: 100%;
      outline: none;
      box-sizing: border-box;
      width: 100%;
      padding:0;
      z-index:1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include placeholder;
    }
    &-picker{
      .#{$css-prefix}popup-inner{
        overflow:visible;
      }
      .vx-popup-center{
        .vx-option-picker-wrapper{
          background:#fff;
          width:80%;
          border-radius:$border-radius-base;
        }
      }
    }
  }
  &option-picker{
    text-align: left;
    max-height:8rem;
    max-height: 65.2vh;
    overflow:auto;
    .#{$css-prefix}{
      &checkbox{
        &.is-active{
          color:$color-primary;
        }
      }
    }
    &-header{
      position:relative;
      @include divider;
      background-position:bottom;
    }
    &-placeholder{
      line-height: 0.92rem;
      color:$color-sub;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include button;
    }
    &-cancel,&-confirm{
      @include button;
      height: 0.92rem;
      width: 1.5rem;
      color:$color-sub;
    }
    &-confirm{
      color:$color-primary;
      &[disabled]{
        color:$color-sub;
      }
    }
  }
}