@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &select{
    position:relative;
    height:0.9rem;
    @include disabled();
    button{
      border: 0;
      background-color: transparent;
      font-size: inherit;
      text-align: inherit;
      height: 100%;
      outline: none;
      box-sizing: border-box;
      width: 100%;
      padding:0;
      z-index:1;
    }
    &-placeholder{
      color: #999;
    }
    &-picker{
      .#{$css-prefix}popup-inner{
        overflow:visible;
      }
    }
  }
  &option-picker{
    max-height:400px;
    max-height: 65vh;
    overflow:auto;
    .#{$css-prefix}{
      &checkbox{
        &-active{
          color:$color-primary;
        }
        &-icon{
          display:none;
        }
        &-text{
          padding-right:0;
        }
      }
    }
  }
}