@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &sidebar{
      text-align:center;
      position:relative;
      user-select: none;
      @include scroll;
      &::-webkit-scrollbar{
        display:none;
      }
      &:before{
        position:absolute;
        content:'';
        width:1px;
        height:100%;
        @include divider-vertical;
        right:0;
        left:auto;
      }
      &--item{
        line-height:0.92rem;
        position:relative;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include divider;
        background-color:transparent;
        &:before{
          position:absolute;
          content:'';
          width:1px;
          height:100%;
          @include divider-vertical;
          right:0;
          left:auto;
        }
        &.is-active{
          color:$color-primary;
          background-color:#fff;
          transition: color $transition-time $ease-in-out;
          position:relative;
          z-index:1;
          &:before{
            display:none;
          }
        }
      }
    }
  }