@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &sidebar{
    text-align:center;
    position:relative;
    user-select: none;
    @include divider($color-divider, true);
    background-position: right;
    &--inner{
      height:100%;
      position:relative;
      @include scroller;
      &::-webkit-scrollbar{
        display:none;
      }
    }
    &--item{
      @include var-height($box-size-height-default, 'line-height');
      position:relative;
      @include lineClamp;
      @include divider;
      &.is-active{
        @include var-color();
        background-color:#fff;
        transition: color $transition-time $ease-in-out;
        position:relative;
        position:sticky;
        top:0;
        z-index:1;
      }
    }
  }
}