@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &spinner{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    animation: loading 0.6s infinite linear;
    border:0.04rem solid #eee;
    border-top-color: $color-primary;
    border-radius:50%;
    box-sizing:border-box;
    &--wrapper{
      position:relative;
      display: inline-table;
      vertical-align: middle;
    }
  }
}
@keyframes loading {
  0% {
    transform:rotate(0deg)
  }
  100% {
    transform:rotate(360deg)
  }
}