@import 'common/variable.scss';
@import 'common/mixins.scss';
.#{$css-prefix}{
  &sticky{
    &--box{
      position: relative;
      position: webkit-sticky;
      position: sticky;
      z-index:100;
      &.is-fixed{
        .#{$css-prefix}{
          &sticky--inner{
            width: 100%;
            position: fixed;
            top: 0;
          }
        }
      }
    }
  }
}