@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &swipeout{
    @include lineClamp;
    position:relative;
    touch-action: pan-y;
    &::-webkit-scrollbar{
      display:none;
    }
    &--inner{
      transition:transform 0.2s ease-out 0s;
      backface-visibility: hidden;
      perspective: 1000;
    }
    &--content{
      width:100%;
      display:inline-block;
      vertical-align: top;
      position:relative;
    }
    &--action{
      display:inline-block;
      vertical-align: top;
      padding-left:0.2rem;
      button{
        @include button;
        height:100%;
        min-width:1rem;
      }
    }
    &.is-divider{
      @include divider;
      &:first-child{
        background-image:none;
      }
    }
  }
}