@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &switch{
    &-wrapper{
      position:relative;
      @include disabled;
      display:inline-block;
      vertical-align: middle;
      overflow:hidden;
      //height: 32px;
      //width: 50px;
      width: 1.05rem;
      height: 0.672rem;
      button{
        height:100%;
        border-radius:30px;
        background-color:$color-sub;
        margin: 0;
        padding: 0;
        transition:all 0.3s $ease-in-out;
        width:100%;
        position: relative;
        border:2px solid #999;
        box-sizing: border-box;
        &:before{
          content:'';
          height:100%;
          width:60%;
          border-radius:50%;
          background-color:#fff;
          left:0;
          top:0;
          position:absolute;
          transition:left 0.3s $ease-in-out;
        }
      }
      input{
        width:100%;
        height:100%;
        z-index:10;
        position:absolute;
        opacity:0;
        padding: 0;
        margin: 0;
        &:checked+button{
          background-color:$color-primary;
          border-color:$color-primary;
        }
        &:checked+button:before{
          left:40%;;
        }
      }
    }
    &-text{
      position:absolute;
      left:0.1rem;
      top:50%;
      color:#fff;
      line-height:12px;
      margin-top:-7px;
      &:last-child{
        left:auto;
        right:0.1rem;
      }
    }
  }
}