@import '../variable.scss';
@import '../mixins.scss';
.#{$css-prefix}{
  &tab{
    text-align:center;
    position:relative;
    user-select: none;
    @include var-height($box-size-height-default, 'line-height');
    background:#fff;
    &--scroller{
      white-space: nowrap;
      overflow-x: auto;
      position: relative;
      &::-webkit-scrollbar{
        display:none;
      }
    }
    &--inner{
      width:fit-content;
      min-width: 100%;
    }
    &:before{
      @include divider;
      z-index:1;
      position:absolute;
      content:'';
      height:1px;
      width:100%;
      left:0;
      bottom:-1px;
      background-color: transparent;
    }
    &--underline{
      position:absolute;
      bottom:0;
      left:0;
      border-bottom:2px solid;
      @include var-border-color();
      transition: left $transition-time $ease-in-out,width $transition-time $ease-in-out;
      display:none;
    }
    &--item{
      @include lineClamp;
      &.is-active{
        @include var-color()
        // transition: color $transition-time $ease-in-out;
      }
    }
    &--type-scroll{
      .vx-tab{
        &--item{
          display:inline-block;
          vertical-align: middle;
          min-width:1.5rem;
          padding:0 0.1rem;
        }
      }
    }
  }
}