@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &tabbar{
      text-align:center;
      position:relative;
      user-select: none;
      background: #fff;
      &:before{
        @include divider;
        top:0;
      }
    }
  }
  .#{$css-prefix}{
    &tabbar-item{
      padding:0.15rem 0;
      &-active{
        color:$color-primary;
        transition: color $transition-time $ease-in-out;
      }
      .#{$css-prefix}iconfont{
        display:block;
      }
      span{
        font-size:0.2rem;
      }
    }
  }