@import '../variable.scss';
  @import '../mixins.scss';
  .#{$css-prefix}{
    &textarea-wrapper{
      position:relative;
      display:block;
      height:0.9rem;
      min-height: 0.9rem;
      line-height: 16px;
      background:#fff;
      textarea,.#{$css-prefix}textarea-shadow{
        padding:0.26rem 0.15rem;
        width:100%;
        text-align: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        box-sizing:border-box;
        min-height:inherit;
        color:inherit;
        word-break: break-all;
      }
      textarea{
        height:100%;
        resize: none;
        border:0;
        @include disabled;
        outline: none;
        overflow: hidden;
        vertical-align: middle;
        background:transparent;
        position:relative;
        z-index:1;
      }
      
      &:before{
        @include divider;
        z-index:1;
      }
      &:after{
        @include divider($color-primary);
        width:0;
        transition:width 0.4s $ease-in-out;
        z-index:2;
      }
      
    }
    &textarea-focus:after{
      width:100%;
    }
    &textarea-shadow{
      position:absolute;
      left:0;
      top:0;
      opacity:0;
    }
  }