@import '~styles/variable.scss';
@import '~styles/mixins.scss';
.#{$css-prefix}{
  &actionsheet{
    &-inner{
      background:#fff;
      max-height: 80%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
    }
    &-cancel{
      padding: $item-padding;
      border-top:10px solid #eee;
      color:$sub-color;
    }
    &-item{
      padding:$item-padding;
      position:relative;
      border-left: 0.1rem solid transparent;
      border-right: 0.1rem solid transparent;
      user-select:none;
      white-space: nowrap;
      overflow: hidden;
      @include active;
      &-text{
        @include disabled;
      }
      &:after{
        @include divider;
      }
      &:last-child:after{
        display:none;
      }
      &-active{
        color:$primary-color;
      }
    }
  }
}