@import '~styles/variable.scss';
@import '~styles/mixins.scss';
.#{$css-prefix}{
  &btn{
    @include button;
    display:block;
    height:0.9rem;
    position:relative;
    width:100%;
    box-sizing:border-box;
    background-color:#fff;
    border-radius:$border-radius-base;
    font-size: inherit;
    cursor: default;
    @include round-border;
    &:active{
      box-shadow:1px 0 100px rgba(0,0,0,0.15) inset;
    }
    &-primary{
      background-color:$primary-color;
      color:#fff;
      &:before{
        border-color:$primary-color;
        display:none;
      }
    }
    &-warning{
      background-color:$warning-color;
      color:#fff;
      &:before{
        border-color:$warning-color;
        display:none;
      }
    }
    &-dashed{
      background-color:#fff;
      color:$primary-color;
      border:0;
      &:active{
        box-shadow:none;
      }
      &:before{
        border-color:darken($primary-color,5%);
      }
    }
    @include disabled;
  }
}