@import '../styles/variable.scss';
@import '../styles/mixins.scss';
.#{$css-prefix}{
  &checkbox{
    display:block;
    position:relative;
    padding:0.25rem 0.15rem;
    line-height:20px;
    @include disabled;
    &-group{
      user-select: none;
      @include disabled;
    }
    input{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
      opacity:0;
      padding:0;
      margin:0;
    }
    &-icon{
      width:20px;
      height:20px;
      //box-shadow:0 0 1px #666 inset;
      border-radius:20px;
      display:inline-block;
      //transition:all 0.2s $ease-in-out;
      margin-right:4px;
      text-align: center;
      vertical-align: middle;
      color:transparent;
      line-height: 1.3;
      font-size: 16px;
      @include round-border($border-color-base,200px);
    }
    &-reverse{
      .#{$css-prefix}checkbox-icon{
        position:absolute;
        top:50%;
        right:0.15rem;
        margin-top:-10px;
      }
    }
    input:checked + &-icon{
      background-color:$primary-color;
      box-shadow:none;
      color:#fff;
      &:before{
        border-color:$primary-color;
      }
    }
  }
}