@import '../styles/variable.scss';
  @import '../styles/mixins.scss';
  .#{$css-prefix}{
    &link{
      color:$primary-color;
      text-decoration: none;
      box-sizing: border-box;
      cursor: default;
      &-active{
        @include active;
      }
    }
  }